.Clientes {
    display: flex;
    height: 4.5rem;
    padding: 1rem;
    /*grid-row: 1 / 2;*/
    grid-column: 0 / 1;
    margin: .5rem;
    background: #fff;
    align-items: center;
    border-radius: .8rem;
    justify-content: center;
}

.Clientes .left-data {
    margin-right: 1rem;
}

.Clientes .left-data span{
    color: #1347d3;
    font-weight: 600;
    border-radius: 50%;
    padding: 1.2rem 1rem;
    background: #e3eafc;
}

.Clientes .right-data {
    margin-right: 1rem;
}

.Clientes .right-data h1 {
    font-weight: 600;
    margin-bottom: .2rem;
}

.Clientes .right-data span {
    padding: 2px 4px;
    font-weight: 500;
    font-size: .8rem;
    color: #1347d3;
    border-radius: .3rem;
    background: #e3eafc;
}