.Pendentes {
    display: flex;
    height: 4.5rem;
    padding: 1rem;
    /*grid-row: 1 / 2;*/
    grid-column: 2 / 3;
    margin: .5rem;
    background: #fff;
    align-items: center;
    border-radius: .8rem;
    justify-content: center;
}

.Pendentes .left-data {
    margin-right: .6rem;
}

.Pendentes .left-data span{
    color: #ff3b30;
    font-weight: 600;
    border-radius: 50%;
    padding: 1.2rem 1.2rem;
    background: #ffe2e0;
}

.Pendentes .right-data {
    margin-right: .6rem;
}

.Pendentes .right-data h1 {
    font-weight: 600;
    margin-bottom: .2rem;
}

.Pendentes .right-data span {
    padding: 2px 4px;
    font-weight: 500;
    font-size: .8rem;
    color: #ff3b30;
    border-radius: .3rem;
    background: #ffe2e0;
}